.idea/
.vscode/
*.iml
.env

# Java
order-worker/target/
order-worker/.mvn/wrapper/maven-wrapper.jar

# Node
clients-api/node_modules/
clients-api/dist/
dashboard-ui/node_modules/
dashboard-ui/dist/
dashboard-ui/.nx/
dashboard-ui/.angular/
*.tsbuildinfo

# Go
products-api/bin/
products-api/api
products-api/api.exe
.cache/

# Local infrastructure data
.data/
